In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [38]:
df = pd.read_csv (r'C:\Users\berrin.gocer\Desktop\HARVEST_TURKEY_R1_2021_GRAIN_v12.csv')
df.head()

,CityId,CityNameTr,DistrictId,DistrictNameTr,PlaceName,GrainNoHarvestArea,GrainHarvestArea20210806,GrainHarvestArea20210808,GrainHarvestArea20210810,GrainHarvestArea20210811,...,GrainHarvestArea20211124,GrainHarvestArea20211126,GrainHarvestArea20211129,GrainHarvestArea20210801,GrainHarvestArea20210804,GrainHarvestArea20210803,GrainHarvestArea20210802,GrainHarvestArea20210807,GrainHarvestArea20210805,GrainHarvestArea20211127
0,1,ADANA,51,KARATAŞ,Adalı,0.0,0.240369,0.168601,0.280475,5.227395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ADANA,51,KARATAŞ,Akdam,0.0,3.413119,2.317323,0.008005,5.370023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,ADANA,51,KARATAŞ,Bahçe,0.0,0.826600,1.700446,0.435520,1.626377,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,ADANA,51,KARATAŞ,Bebeli,0.0,0.217250,0.753051,0.663351,0.661563,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,ADANA,51,KARATAŞ,Beyköy,0.0,3.785405,2.086331,0.282512,2.044615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21219 entries, 0 to 21218
Columns: 130 entries, CityId to GrainHarvestArea20211127
dtypes: float64(125), int64(2), object(3)
memory usage: 21.0+ MB

In [40]:
df.columns

Index(['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName',
       'GrainNoHarvestArea', 'GrainHarvestArea20210806',
       'GrainHarvestArea20210808', 'GrainHarvestArea20210810',
       'GrainHarvestArea20210811',
       ...
       'GrainHarvestArea20211124', 'GrainHarvestArea20211126',
       'GrainHarvestArea20211129', 'GrainHarvestArea20210801',
       'GrainHarvestArea20210804', 'GrainHarvestArea20210803',
       'GrainHarvestArea20210802', 'GrainHarvestArea20210807',
       'GrainHarvestArea20210805', 'GrainHarvestArea20211127'],
      dtype='object', length=130)

In [24]:
df.isnull

<bound method DataFrame.isnull of        CityId CityNameTr  DistrictId DistrictNameTr  PlaceName  \
0           1      ADANA          51        KARATAŞ      Adalı
1           1      ADANA          51        KARATAŞ      Akdam
2           1      ADANA          51        KARATAŞ      Bahçe
3           1      ADANA          51        KARATAŞ     Bebeli
4           1      ADANA          51        KARATAŞ     Beyköy
...       ...        ...         ...            ...        ...
21214      67  ZONGULDAK        1048        ÇAYCUMA   Yazıbaşı
21215      67  ZONGULDAK        1048        ÇAYCUMA    Yeniköy
21216      67  ZONGULDAK        1048        ÇAYCUMA  Yenipazar
21217      67  ZONGULDAK        1048        ÇAYCUMA   Yeşilköy
21218      67  ZONGULDAK        1048        ÇAYCUMA        NaN

       GrainNoHarvestArea  GrainHarvestArea20210806  GrainHarvestArea20210808  \
0                     0.0                  0.240369                  0.168601
1                     0.0                  3.413119                  2.317323
2                     0.0                  0.826600                  1.700446
3                     0.0                  0.217250                  0.753051
4                     0.0                  3.785405                  2.086331
...                   ...                       ...                       ...
21214                 NaN                       NaN                       NaN
21215                 NaN                       NaN                       NaN
21216                 NaN                       NaN                       NaN
21217                 NaN                       NaN                       NaN
21218                 NaN                       NaN                       NaN

       GrainHarvestArea20210810  GrainHarvestArea20210811  ...  \
0                      0.280475                  5.227395  ...
1                      0.008005                  5.370023  ...
2                      0.435520                  1.626377  ...
3                      0.663351                  0.661563  ...
4                      0.282512                  2.044615  ...
...                         ...                       ...  ...
21214                       NaN                  0.000000  ...
21215                       NaN                  0.000000  ...
21216                       NaN                  0.000000  ...
21217                       NaN                  0.000000  ...
21218                       NaN                  0.000000  ...

       GrainHarvestArea20211124  GrainHarvestArea20211126  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
21214                  0.000000                  0.000000
21215                  0.007446                  0.007446
21216                  0.000000                  0.000000
21217                  0.000000                  0.000000
21218                  0.000000                  0.014869

       GrainHarvestArea20211129  GrainHarvestArea20210801  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
21214                  0.000000                       NaN
21215                  0.045237                       NaN
21216                  0.007753                       NaN
21217                  0.007493                       NaN
21218                  0.044900                       NaN

       GrainHarvestArea20210804  GrainHarvestArea20210803  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
21214                  0.000000                       NaN
21215                  0.000000                       NaN
21216                  0.000000                       NaN
21217                  0.000000                       NaN
21218                  0.014989                       NaN

       GrainHarvestArea20210802  GrainHarvestArea20210807  \
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
21214                       0.0                       NaN
21215                       0.0                       NaN
21216                       0.0                       NaN
21217                       0.0                       NaN
21218                       0.0                       NaN

       GrainHarvestArea20210805  GrainHarvestArea20211127
0                           NaN                       NaN
1                           NaN                       NaN
2                           NaN                       NaN
3                           NaN                       NaN
4                           NaN                       NaN
...                         ...                       ...
21214                       NaN                       NaN
21215                       NaN                       NaN
21216                       NaN                       NaN
21217                       NaN                       NaN
21218                       NaN                       NaN

[21219 rows x 130 columns]>

In [41]:
df.columns

Index(['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName',
       'GrainNoHarvestArea', 'GrainHarvestArea20210806',
       'GrainHarvestArea20210808', 'GrainHarvestArea20210810',
       'GrainHarvestArea20210811',
       ...
       'GrainHarvestArea20211124', 'GrainHarvestArea20211126',
       'GrainHarvestArea20211129', 'GrainHarvestArea20210801',
       'GrainHarvestArea20210804', 'GrainHarvestArea20210803',
       'GrainHarvestArea20210802', 'GrainHarvestArea20210807',
       'GrainHarvestArea20210805', 'GrainHarvestArea20211127'],
      dtype='object', length=130)

In [95]:
list = ["CityId","CityNameTr","DistrictId","DistrictNameTr","PlaceName","GrainNoHarvestArea","GrainHarvestArea20210806",
         "GrainHarvestArea20210808","GrainHarvestArea20210810","GrainHarvestArea20210811",
         "GrainHarvestArea20210813","GrainHarvestArea20210815","GrainHarvestArea20210816","GrainHarvestArea20210817",
         "GrainHarvestArea20210818","GrainHarvestArea20210820","GrainHarvestArea20210821","GrainHarvestArea20210822",
         "GrainHarvestArea20210823","GrainHarvestArea20210825","GrainHarvestArea20210826","GrainHarvestArea20210827",
         "GrainHarvestArea20210828","GrainHarvestArea20210830","GrainHarvestArea20210831","GrainHarvestArea20210901","GrainHarvestArea20210902",
         "GrainHarvestArea20210904","GrainHarvestArea20210905","GrainHarvestArea20210906","GrainHarvestArea20210907","GrainHarvestArea20210909",
         "GrainHarvestArea20210910","GrainHarvestArea20210911","GrainHarvestArea20210912","GrainHarvestArea20210914","GrainHarvestArea20210915",
         "GrainHarvestArea20210917","GrainHarvestArea20210919","GrainHarvestArea20210920","GrainHarvestArea20210922","GrainHarvestArea20210924",
         "GrainHarvestArea20210925","GrainHarvestArea20210926","GrainHarvestArea20210927","GrainHarvestArea20210929","GrainHarvestArea20210930",
         "GrainHarvestArea20211001","GrainHarvestArea20211002","GrainHarvestArea20211004","GrainHarvestArea20211005","GrainHarvestArea20211006",
         "GrainHarvestArea20211007","GrainHarvestArea20211009","GrainHarvestArea20211010","GrainHarvestArea20211011","GrainHarvestArea20211012",
         "GrainHarvestArea20211014","GrainHarvestArea20211015","GrainHarvestArea20211016","GrainHarvestArea20211017","GrainHarvestArea20211019",
         "GrainHarvestArea20211020","GrainHarvestArea20211021","GrainHarvestArea20211022","GrainHarvestArea20211024","GrainHarvestArea20211025",
         "GrainHarvestArea20211026","GrainHarvestArea20211027","GrainHarvestArea20211029","GrainHarvestArea20211030","GrainHarvestArea20211031",
         "GrainHarvestArea20211101","GrainHarvestArea20211103","GrainHarvestArea20211104","GrainHarvestArea20211105","GrainHarvestArea20211106",
         "GrainHarvestArea20211108","GrainHarvestArea20211110","GrainHarvestArea20211111","GrainHarvestArea20211113","GrainHarvestArea20211114",
         "GrainHarvestArea20211115","GrainHarvestArea20211116","GrainHarvestArea20211118","GrainHarvestArea20211120","GrainHarvestArea20211121",
         "GrainHarvestArea20211123","GrainHarvestArea20211125","GrainHarvestArea20211128","GrainHarvestArea20211130","GrainHarvestArea20211231",
         "GrainHarvestArea20220101","GrainHarvestArea20210812","GrainHarvestArea20210819","GrainHarvestArea20210824","GrainHarvestArea20210829",
         "GrainHarvestArea20210903","GrainHarvestArea20210908","GrainHarvestArea20210913","GrainHarvestArea20210918","GrainHarvestArea20211003",
         "GrainHarvestArea20211013","GrainHarvestArea20211018","GrainHarvestArea20211023","GrainHarvestArea20211102","GrainHarvestArea20211107",
         "GrainHarvestArea20211112","GrainHarvestArea20210809","GrainHarvestArea20210814","GrainHarvestArea20210916","GrainHarvestArea20210921",
         "GrainHarvestArea20210923","GrainHarvestArea20210928","GrainHarvestArea20211008","GrainHarvestArea20211028","GrainHarvestArea20211109",
         "GrainHarvestArea20211117","GrainHarvestArea20211119","GrainHarvestArea20211122","GrainHarvestArea20211124","GrainHarvestArea20211126",
         "GrainHarvestArea20211129","GrainHarvestArea20210801","GrainHarvestArea20210804","GrainHarvestArea20210803","GrainHarvestArea20210802",
         "GrainHarvestArea20210807","GrainHarvestArea20210805","GrainHarvestArea20211127"]
print(len(list))

130

In [96]:
list.sort()

In [97]:
print(list)

['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 'GrainHarvestArea20210918', 'GrainHarvestArea20210919', 'GrainHarvestArea20210920', 'GrainHarvestArea20210921', 'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 'GrainHarvestArea20211016', 'GrainHarvestArea20211017', 'GrainHarvestArea20211018', 'GrainHarvestArea20211019', 'GrainHarvestArea20211020', 'GrainHarvestArea20211021', 'GrainHarvestArea20211022', 'GrainHarvestArea20211023', 'GrainHarvestArea20211024', 'GrainHarvestArea20211025', 'GrainHarvestArea20211026', 'GrainHarvestArea20211027', 'GrainHarvestArea20211028', 'GrainHarvestArea20211029', 'GrainHarvestArea20211030', 'GrainHarvestArea20211031', 'GrainHarvestArea20211101', 'GrainHarvestArea20211102', 'GrainHarvestArea20211103', 'GrainHarvestArea20211104', 'GrainHarvestArea20211105', 'GrainHarvestArea20211106', 'GrainHarvestArea20211107', 'GrainHarvestArea20211108', 'GrainHarvestArea20211109', 'GrainHarvestArea20211110', 'GrainHarvestArea20211111', 'GrainHarvestArea20211112', 'GrainHarvestArea20211113', 'GrainHarvestArea20211114', 'GrainHarvestArea20211115', 'GrainHarvestArea20211116', 'GrainHarvestArea20211117', 'GrainHarvestArea20211118', 'GrainHarvestArea20211119', 'GrainHarvestArea20211120', 'GrainHarvestArea20211121', 'GrainHarvestArea20211122', 'GrainHarvestArea20211123', 'GrainHarvestArea20211124', 'GrainHarvestArea20211125', 'GrainHarvestArea20211126', 'GrainHarvestArea20211127', 'GrainHarvestArea20211128', 'GrainHarvestArea20211129', 'GrainHarvestArea20211130', 'GrainHarvestArea20211231', 'GrainHarvestArea20220101', 'GrainNoHarvestArea', 'PlaceName']

In [113]:
listt = ['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 
         'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 
         'GrainHarvestArea20211016', 'GrainHarvestArea20211017', 'GrainHarvestArea20211018', 'GrainHarvestArea20211019', 
         'GrainHarvestArea20211020', 'GrainHarvestArea20211021', 'GrainHarvestArea20211022', 'GrainHarvestArea20211023', 
         'GrainHarvestArea20211024', 'GrainHarvestArea20211025', 'GrainHarvestArea20211026', 'GrainHarvestArea20211027', 
         'GrainHarvestArea20211028', 'GrainHarvestArea20211029', 'GrainHarvestArea20211030', 'GrainHarvestArea20211031', 
         'GrainHarvestArea20211101', 'GrainHarvestArea20211102', 'GrainHarvestArea20211103', 'GrainHarvestArea20211104', 
         'GrainHarvestArea20211105', 'GrainHarvestArea20211106', 'GrainHarvestArea20211107', 'GrainHarvestArea20211108', 
         'GrainHarvestArea20211109', 'GrainHarvestArea20211110', 'GrainHarvestArea20211111', 'GrainHarvestArea20211112', 
         'GrainHarvestArea20211113', 'GrainHarvestArea20211114', 'GrainHarvestArea20211115', 'GrainHarvestArea20211116', 
         'GrainHarvestArea20211117', 'GrainHarvestArea20211118', 'GrainHarvestArea20211119', 'GrainHarvestArea20211120', 
         'GrainHarvestArea20211121', 'GrainHarvestArea20211122', 'GrainHarvestArea20211123', 'GrainHarvestArea20211124', 
         'GrainHarvestArea20211125', 'GrainHarvestArea20211126', 'GrainHarvestArea20211127', 'GrainHarvestArea20211128', 
         'GrainHarvestArea20211129', 'GrainHarvestArea20211130', 'GrainHarvestArea20211231', 'GrainHarvestArea20220101']

In [122]:
len(listt)

130

In [123]:
df1=df.loc[:,listt]

In [125]:
df1.head(5)

,CityId,CityNameTr,DistrictId,DistrictNameTr,PlaceName,GrainNoHarvestArea,GrainHarvestArea20210801,GrainHarvestArea20210802,GrainHarvestArea20210803,GrainHarvestArea20210804,...,GrainHarvestArea20211123,GrainHarvestArea20211124,GrainHarvestArea20211125,GrainHarvestArea20211126,GrainHarvestArea20211127,GrainHarvestArea20211128,GrainHarvestArea20211129,GrainHarvestArea20211130,GrainHarvestArea20211231,GrainHarvestArea20220101
0,1,ADANA,51,KARATAŞ,Adalı,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.000000,NaN,NaN,0.776224,NaN,0.000000,0.096364,11.310245
1,1,ADANA,51,KARATAŞ,Akdam,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.000000,NaN,NaN,0.000000,NaN,0.000000,0.024022,0.422719
2,1,ADANA,51,KARATAŞ,Bahçe,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.055799,NaN,NaN,1.985134,NaN,0.000000,0.015295,2.426009
3,1,ADANA,51,KARATAŞ,Bebeli,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.007845,NaN,NaN,0.007923,NaN,0.000000,0.000000,0.795755
4,1,ADANA,51,KARATAŞ,Beyköy,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.078901,NaN,NaN,0.000000,NaN,0.359956,0.125409,2.067570

In [121]:
list_27_09_21 = ['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927']
print(len(list_27_09_21))

64

In [127]:
list_10_10_21= ['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010']
print(len(list_10_10_21))

77

In [128]:
list_17_10_21 = ['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 
         'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 
         'GrainHarvestArea20211016', 'GrainHarvestArea20211017']
print(len(list_17_10_21))

84

In [129]:
list_24_10_21 = ['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 
         'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 
         'GrainHarvestArea20211016', 'GrainHarvestArea20211017', 'GrainHarvestArea20211018', 'GrainHarvestArea20211019', 
         'GrainHarvestArea20211020', 'GrainHarvestArea20211021', 'GrainHarvestArea20211022', 'GrainHarvestArea20211023', 
         'GrainHarvestArea20211024']
print(len(list_24_10_21))

91

In [130]:
list_30_10_21 =['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 
         'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 
         'GrainHarvestArea20211016', 'GrainHarvestArea20211017', 'GrainHarvestArea20211018', 'GrainHarvestArea20211019', 
         'GrainHarvestArea20211020', 'GrainHarvestArea20211021', 'GrainHarvestArea20211022', 'GrainHarvestArea20211023', 
         'GrainHarvestArea20211024', 'GrainHarvestArea20211025', 'GrainHarvestArea20211026', 'GrainHarvestArea20211027', 
         'GrainHarvestArea20211028', 'GrainHarvestArea20211029', 'GrainHarvestArea20211030']
print(len(list_30_10_21))

97

In [131]:
list_07_11_21 =['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 
         'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 
         'GrainHarvestArea20211016', 'GrainHarvestArea20211017', 'GrainHarvestArea20211018', 'GrainHarvestArea20211019', 
         'GrainHarvestArea20211020', 'GrainHarvestArea20211021', 'GrainHarvestArea20211022', 'GrainHarvestArea20211023', 
         'GrainHarvestArea20211024', 'GrainHarvestArea20211025', 'GrainHarvestArea20211026', 'GrainHarvestArea20211027', 
         'GrainHarvestArea20211028', 'GrainHarvestArea20211029', 'GrainHarvestArea20211030', 'GrainHarvestArea20211031', 
         'GrainHarvestArea20211101', 'GrainHarvestArea20211102', 'GrainHarvestArea20211103', 'GrainHarvestArea20211104', 
         'GrainHarvestArea20211105', 'GrainHarvestArea20211106', 'GrainHarvestArea20211107']
print(len(list_07_11_21))

105

In [132]:
list_14_11_21 = ['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 
         'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 
         'GrainHarvestArea20211016', 'GrainHarvestArea20211017', 'GrainHarvestArea20211018', 'GrainHarvestArea20211019', 
         'GrainHarvestArea20211020', 'GrainHarvestArea20211021', 'GrainHarvestArea20211022', 'GrainHarvestArea20211023', 
         'GrainHarvestArea20211024', 'GrainHarvestArea20211025', 'GrainHarvestArea20211026', 'GrainHarvestArea20211027', 
         'GrainHarvestArea20211028', 'GrainHarvestArea20211029', 'GrainHarvestArea20211030', 'GrainHarvestArea20211031', 
         'GrainHarvestArea20211101', 'GrainHarvestArea20211102', 'GrainHarvestArea20211103', 'GrainHarvestArea20211104', 
         'GrainHarvestArea20211105', 'GrainHarvestArea20211106', 'GrainHarvestArea20211107', 'GrainHarvestArea20211108', 
         'GrainHarvestArea20211109', 'GrainHarvestArea20211110', 'GrainHarvestArea20211111', 'GrainHarvestArea20211112', 
         'GrainHarvestArea20211113', 'GrainHarvestArea20211114']
print(len(list_14_11_21))

112

In [133]:
list_21_11_21 =['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 
         'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 
         'GrainHarvestArea20211016', 'GrainHarvestArea20211017', 'GrainHarvestArea20211018', 'GrainHarvestArea20211019', 
         'GrainHarvestArea20211020', 'GrainHarvestArea20211021', 'GrainHarvestArea20211022', 'GrainHarvestArea20211023', 
         'GrainHarvestArea20211024', 'GrainHarvestArea20211025', 'GrainHarvestArea20211026', 'GrainHarvestArea20211027', 
         'GrainHarvestArea20211028', 'GrainHarvestArea20211029', 'GrainHarvestArea20211030', 'GrainHarvestArea20211031', 
         'GrainHarvestArea20211101', 'GrainHarvestArea20211102', 'GrainHarvestArea20211103', 'GrainHarvestArea20211104', 
         'GrainHarvestArea20211105', 'GrainHarvestArea20211106', 'GrainHarvestArea20211107', 'GrainHarvestArea20211108', 
         'GrainHarvestArea20211109', 'GrainHarvestArea20211110', 'GrainHarvestArea20211111', 'GrainHarvestArea20211112', 
         'GrainHarvestArea20211113', 'GrainHarvestArea20211114', 'GrainHarvestArea20211115', 'GrainHarvestArea20211116', 
         'GrainHarvestArea20211117', 'GrainHarvestArea20211118', 'GrainHarvestArea20211119', 'GrainHarvestArea20211120', 
         'GrainHarvestArea20211121']
print(len(list_21_11_21))

119

In [134]:
list_28_11_21 =['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName','GrainNoHarvestArea', 
         'GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 
         'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 
         'GrainHarvestArea20211016', 'GrainHarvestArea20211017', 'GrainHarvestArea20211018', 'GrainHarvestArea20211019', 
         'GrainHarvestArea20211020', 'GrainHarvestArea20211021', 'GrainHarvestArea20211022', 'GrainHarvestArea20211023', 
         'GrainHarvestArea20211024', 'GrainHarvestArea20211025', 'GrainHarvestArea20211026', 'GrainHarvestArea20211027', 
         'GrainHarvestArea20211028', 'GrainHarvestArea20211029', 'GrainHarvestArea20211030', 'GrainHarvestArea20211031', 
         'GrainHarvestArea20211101', 'GrainHarvestArea20211102', 'GrainHarvestArea20211103', 'GrainHarvestArea20211104', 
         'GrainHarvestArea20211105', 'GrainHarvestArea20211106', 'GrainHarvestArea20211107', 'GrainHarvestArea20211108', 
         'GrainHarvestArea20211109', 'GrainHarvestArea20211110', 'GrainHarvestArea20211111', 'GrainHarvestArea20211112', 
         'GrainHarvestArea20211113', 'GrainHarvestArea20211114', 'GrainHarvestArea20211115', 'GrainHarvestArea20211116', 
         'GrainHarvestArea20211117', 'GrainHarvestArea20211118', 'GrainHarvestArea20211119', 'GrainHarvestArea20211120', 
         'GrainHarvestArea20211121', 'GrainHarvestArea20211122', 'GrainHarvestArea20211123', 'GrainHarvestArea20211124', 
         'GrainHarvestArea20211125', 'GrainHarvestArea20211126', 'GrainHarvestArea20211127', 'GrainHarvestArea20211128']
print(len(list_28_11_21))

126

In [135]:
df1.head()

,CityId,CityNameTr,DistrictId,DistrictNameTr,PlaceName,GrainNoHarvestArea,GrainHarvestArea20210801,GrainHarvestArea20210802,GrainHarvestArea20210803,GrainHarvestArea20210804,...,GrainHarvestArea20211123,GrainHarvestArea20211124,GrainHarvestArea20211125,GrainHarvestArea20211126,GrainHarvestArea20211127,GrainHarvestArea20211128,GrainHarvestArea20211129,GrainHarvestArea20211130,GrainHarvestArea20211231,GrainHarvestArea20220101
0,1,ADANA,51,KARATAŞ,Adalı,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.000000,NaN,NaN,0.776224,NaN,0.000000,0.096364,11.310245
1,1,ADANA,51,KARATAŞ,Akdam,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.000000,NaN,NaN,0.000000,NaN,0.000000,0.024022,0.422719
2,1,ADANA,51,KARATAŞ,Bahçe,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.055799,NaN,NaN,1.985134,NaN,0.000000,0.015295,2.426009
3,1,ADANA,51,KARATAŞ,Bebeli,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.007845,NaN,NaN,0.007923,NaN,0.000000,0.000000,0.795755
4,1,ADANA,51,KARATAŞ,Beyköy,0.0,NaN,NaN,NaN,NaN,...,0.0,NaN,0.078901,NaN,NaN,0.000000,NaN,0.359956,0.125409,2.067570

In [88]:
df1['PlaceName'].isnull().value_counts()

False    20676
True       543
Name: PlaceName, dtype: int64

In [92]:
df1['PlaceName'].isnull().sum()

543

In [137]:
df2 = df1

In [138]:
df2['list_27_09_21 sum']=df1.iloc[:,7:65].sum(axis=1)

In [139]:
df2['list_10_10_21 sum']=df1.iloc[:,7:78].sum(axis=1)

In [140]:
df2['list_17_10_21 sum']=df1.iloc[:,7:85].sum(axis=1)

In [141]:
df2['list_24_10_21 sum']=df1.iloc[:,7:92].sum(axis=1)

In [142]:
df2['list_30_10_21 sum']=df1.iloc[:,7:98].sum(axis=1)

In [143]:
df2['list_07_11_21 sum']=df1.iloc[:,7:106].sum(axis=1)

In [144]:
df2['list_14_11_21 sum']=df1.iloc[:,7:113].sum(axis=1)

In [145]:
df2['list_21_11_21 sum']=df1.iloc[:,7:120].sum(axis=1)

In [146]:
df2['list_28_11_21 sum']=df1.iloc[:,5:127].sum(axis=1)

In [147]:
df2['1. Urun Danelik Misir']=df1.iloc[:,7:128].sum(axis=1)

In [148]:
df2.head()

,CityId,CityNameTr,DistrictId,DistrictNameTr,PlaceName,GrainNoHarvestArea,GrainHarvestArea20210801,GrainHarvestArea20210802,GrainHarvestArea20210803,GrainHarvestArea20210804,...,list_27_09_21 sum,list_10_10_21 sum,list_17_10_21 sum,list_24_10_21 sum,list_30_10_21 sum,list_07_11_21 sum,list_14_11_21 sum,list_21_11_21 sum,list_28_11_21 sum,1. Urun Danelik Misir
0,1,ADANA,51,KARATAŞ,Adalı,0.0,NaN,NaN,NaN,NaN,...,164.472931,227.577592,235.272529,236.082671,238.584443,239.159311,240.696727,240.752724,241.528948,241.528948
1,1,ADANA,51,KARATAŞ,Akdam,0.0,NaN,NaN,NaN,NaN,...,201.487551,208.175632,208.447400,208.605837,208.908062,209.035219,209.122292,209.138329,209.138329,209.138329
2,1,ADANA,51,KARATAŞ,Bahçe,0.0,NaN,NaN,NaN,NaN,...,196.738835,256.462410,262.517848,266.237562,271.732360,275.593651,280.581537,280.820903,282.861837,282.861837
3,1,ADANA,51,KARATAŞ,Bebeli,0.0,NaN,NaN,NaN,NaN,...,111.629739,136.099997,138.012293,139.012008,140.257313,140.951833,141.466698,141.474621,141.490389,141.490389
4,1,ADANA,51,KARATAŞ,Beyköy,0.0,NaN,NaN,NaN,NaN,...,88.747131,95.999783,99.787921,102.693857,103.258250,103.362242,103.697098,104.132540,104.211441,104.571397

In [152]:
for i in df.columns:
    if i == "GrainHarvestArea20211231":
        df2["Bulut Engeli"] = df2[i]

In [153]:
for i in df.columns:
    if i == "GrainHarvestArea20220101":
        df2["Yakinda Hasat Yok"] = df2[i]

In [158]:
df5 = df2.drop(['GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804', 
         'GrainHarvestArea20210805', 'GrainHarvestArea20210806', 'GrainHarvestArea20210807', 'GrainHarvestArea20210808', 
         'GrainHarvestArea20210809', 'GrainHarvestArea20210810', 'GrainHarvestArea20210811', 'GrainHarvestArea20210812', 
         'GrainHarvestArea20210813', 'GrainHarvestArea20210814', 'GrainHarvestArea20210815', 'GrainHarvestArea20210816', 
         'GrainHarvestArea20210817', 'GrainHarvestArea20210818', 'GrainHarvestArea20210819', 'GrainHarvestArea20210820', 
         'GrainHarvestArea20210821', 'GrainHarvestArea20210822', 'GrainHarvestArea20210823', 'GrainHarvestArea20210824', 
         'GrainHarvestArea20210825', 'GrainHarvestArea20210826', 'GrainHarvestArea20210827', 'GrainHarvestArea20210828', 
         'GrainHarvestArea20210829', 'GrainHarvestArea20210830', 'GrainHarvestArea20210831', 'GrainHarvestArea20210901', 
         'GrainHarvestArea20210902', 'GrainHarvestArea20210903', 'GrainHarvestArea20210904', 'GrainHarvestArea20210905', 
         'GrainHarvestArea20210906', 'GrainHarvestArea20210907', 'GrainHarvestArea20210908', 'GrainHarvestArea20210909', 
         'GrainHarvestArea20210910', 'GrainHarvestArea20210911', 'GrainHarvestArea20210912', 'GrainHarvestArea20210913', 
         'GrainHarvestArea20210914', 'GrainHarvestArea20210915', 'GrainHarvestArea20210916', 'GrainHarvestArea20210917', 
         'GrainHarvestArea20210918', 'GrainHarvestArea20210919','GrainHarvestArea20210920', 'GrainHarvestArea20210921', 
         'GrainHarvestArea20210922', 'GrainHarvestArea20210923', 'GrainHarvestArea20210924', 'GrainHarvestArea20210925', 
         'GrainHarvestArea20210926', 'GrainHarvestArea20210927', 'GrainHarvestArea20210928', 'GrainHarvestArea20210929', 
         'GrainHarvestArea20210930', 'GrainHarvestArea20211001', 'GrainHarvestArea20211002', 'GrainHarvestArea20211003', 
         'GrainHarvestArea20211004', 'GrainHarvestArea20211005', 'GrainHarvestArea20211006', 'GrainHarvestArea20211007', 
         'GrainHarvestArea20211008', 'GrainHarvestArea20211009', 'GrainHarvestArea20211010', 'GrainHarvestArea20211011', 
         'GrainHarvestArea20211012', 'GrainHarvestArea20211013', 'GrainHarvestArea20211014', 'GrainHarvestArea20211015', 
         'GrainHarvestArea20211016', 'GrainHarvestArea20211017', 'GrainHarvestArea20211018', 'GrainHarvestArea20211019', 
         'GrainHarvestArea20211020', 'GrainHarvestArea20211021', 'GrainHarvestArea20211022', 'GrainHarvestArea20211023', 
         'GrainHarvestArea20211024', 'GrainHarvestArea20211025', 'GrainHarvestArea20211026', 'GrainHarvestArea20211027', 
         'GrainHarvestArea20211028', 'GrainHarvestArea20211029', 'GrainHarvestArea20211030', 'GrainHarvestArea20211031', 
         'GrainHarvestArea20211101', 'GrainHarvestArea20211102', 'GrainHarvestArea20211103', 'GrainHarvestArea20211104', 
         'GrainHarvestArea20211105', 'GrainHarvestArea20211106', 'GrainHarvestArea20211107', 'GrainHarvestArea20211108', 
         'GrainHarvestArea20211109', 'GrainHarvestArea20211110', 'GrainHarvestArea20211111', 'GrainHarvestArea20211112', 
         'GrainHarvestArea20211113', 'GrainHarvestArea20211114', 'GrainHarvestArea20211115', 'GrainHarvestArea20211116', 
         'GrainHarvestArea20211117', 'GrainHarvestArea20211118', 'GrainHarvestArea20211119', 'GrainHarvestArea20211120', 
         'GrainHarvestArea20211121', 'GrainHarvestArea20211122', 'GrainHarvestArea20211123', 'GrainHarvestArea20211124', 
         'GrainHarvestArea20211125', 'GrainHarvestArea20211126', 'GrainHarvestArea20211127', 'GrainHarvestArea20211128', 
         'GrainHarvestArea20211129', 'GrainHarvestArea20211130', 'GrainHarvestArea20211231', 'GrainHarvestArea20220101'],1)

C:\Users\BERRIN~1.GOC\AppData\Local\Temp/ipykernel_5132/2274881033.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df5 = df2.drop(['GrainHarvestArea20210801', 'GrainHarvestArea20210802', 'GrainHarvestArea20210803', 'GrainHarvestArea20210804',

In [159]:
df5.columns

Index(['CityId', 'CityNameTr', 'DistrictId', 'DistrictNameTr', 'PlaceName',
       'GrainNoHarvestArea', 'list_27_09_21 sum', 'list_10_10_21 sum',
       'list_17_10_21 sum', 'list_24_10_21 sum', 'list_30_10_21 sum',
       'list_07_11_21 sum', 'list_14_11_21 sum', 'list_21_11_21 sum',
       'list_28_11_21 sum', '1. Urun Danelik Misir', 'Bulut Engeli',
       'Yakinda Hasat Yok'],
      dtype='object')

In [228]:
df.shape

(21219, 130)

In [160]:
df5.head()

,CityId,CityNameTr,DistrictId,DistrictNameTr,PlaceName,GrainNoHarvestArea,list_27_09_21 sum,list_10_10_21 sum,list_17_10_21 sum,list_24_10_21 sum,list_30_10_21 sum,list_07_11_21 sum,list_14_11_21 sum,list_21_11_21 sum,list_28_11_21 sum,1. Urun Danelik Misir,Bulut Engeli,Yakinda Hasat Yok
0,1,ADANA,51,KARATAŞ,Adalı,0.0,164.472931,227.577592,235.272529,236.082671,238.584443,239.159311,240.696727,240.752724,241.528948,241.528948,0.096364,11.310245
1,1,ADANA,51,KARATAŞ,Akdam,0.0,201.487551,208.175632,208.447400,208.605837,208.908062,209.035219,209.122292,209.138329,209.138329,209.138329,0.024022,0.422719
2,1,ADANA,51,KARATAŞ,Bahçe,0.0,196.738835,256.462410,262.517848,266.237562,271.732360,275.593651,280.581537,280.820903,282.861837,282.861837,0.015295,2.426009
3,1,ADANA,51,KARATAŞ,Bebeli,0.0,111.629739,136.099997,138.012293,139.012008,140.257313,140.951833,141.466698,141.474621,141.490389,141.490389,0.000000,0.795755
4,1,ADANA,51,KARATAŞ,Beyköy,0.0,88.747131,95.999783,99.787921,102.693857,103.258250,103.362242,103.697098,104.132540,104.211441,104.571397,0.125409,2.067570

In [164]:
df5.info()
###'PlaceName' have null value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21219 entries, 0 to 21218
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CityId                 21219 non-null  int64
 1   CityNameTr             21219 non-null  object
 2   DistrictId             21219 non-null  int64
 3   DistrictNameTr         21219 non-null  object
 4   PlaceName              20676 non-null  object
 5   GrainNoHarvestArea     7078 non-null   float64
 6   list_27_09_21 sum      21219 non-null  float64
 7   list_10_10_21 sum      21219 non-null  float64
 8   list_17_10_21 sum      21219 non-null  float64
 9   list_24_10_21 sum      21219 non-null  float64
 10  list_30_10_21 sum      21219 non-null  float64
 11  list_07_11_21 sum      21219 non-null  float64
 12  list_14_11_21 sum      21219 non-null  float64
 13  list_21_11_21 sum      21219 non-null  float64
 14  list_28_11_21 sum      21219 non-null  float64
 15  1. Urun Danelik Misir  21219 non-null  float64
 16  Bulut Engeli           21219 non-null  float64
 17  Yakinda Hasat Yok      21219 non-null  float64
dtypes: float64(13), int64(2), object(3)
memory usage: 2.9+ MB

In [ ]:
#27/09/21, 10/10/21, 17/10/21, 24/10/21, 30/10/21, 07/11/21, 14/11/21, 21/11/21, 28/11/21

In [165]:
df6 = df5

In [172]:
#df6.groupby(['DistrictNameTr'])['list_27_09_21 sum','list_10_10_21 sum','list_17_10_21 sum',
                                #'list_24_10_21 sum','list_30_10_21 sum','list_07_11_21 sum',
                                #'list_14_11_21 sum','list_21_11_21 sum','list_28_11_21 sum'].agg(['sum']).reset_index().head(82)

In [229]:
df6.groupby(['DistrictNameTr','CityId'])['list_27_09_21 sum','list_10_10_21 sum','list_17_10_21 sum',
                                'list_24_10_21 sum','list_30_10_21 sum','list_07_11_21 sum',
                                'list_14_11_21 sum','list_21_11_21 sum','list_28_11_21 sum'].agg(['sum']).reset_index().head(90)

C:\Users\BERRIN~1.GOC\AppData\Local\Temp/ipykernel_5132/2648690317.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df6.groupby(['DistrictNameTr','CityId'])['list_27_09_21 sum','list_10_10_21 sum','list_17_10_21 sum',

,DistrictNameTr,CityId,list_27_09_21 sum,list_10_10_21 sum,list_17_10_21 sum,list_24_10_21 sum,list_30_10_21 sum,list_07_11_21 sum,list_14_11_21 sum,list_21_11_21 sum,list_28_11_21 sum
,,,sum,sum,sum,sum,sum,sum,sum,sum,sum
0,19 MAYIS,55,2.018063,2.419231,2.744654,3.842326,6.400165,10.233820,20.967973,22.187477,22.187477
1,ABANA,37,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,ACIGÖL,50,96.655297,246.989481,247.036617,272.462324,337.374375,344.615787,354.415181,354.540566,355.359700
3,ACIPAYAM,20,378.357845,639.390923,642.683933,880.633212,909.219421,938.020574,976.615381,980.278259,982.222181
4,ADAKLI,12,3.243051,3.281794,3.973044,4.468681,4.801738,4.817218,4.824958,4.917684,4.917684
...,...,...,...,...,...,...,...,...,...,...,...
85,AĞLASUN,15,0.534108,0.856573,1.056670,1.096163,1.213298,1.426708,1.569233,1.569233,1.569233
86,AĞLI,37,7.096870,7.542917,7.853814,8.204734,8.388171,8.619646,8.918191,9.103522,9.171176
87,AŞKALE,25,31.456019,40.607392,41.764075,45.447750,46.548599,49.947335,51.294723,52.631683,52.954224
88,BABAESKİ,39,89.005015,103.854604,110.957217,331.536293,372.961925,389.397439,460.359535,482.034717,485.775076
89,BAFRA,55,54.693368,63.833128,198.951436,258.227488,575.096453,711.999730,807.005400,845.490252,849.622480

In [230]:
df7 = df5

In [231]:
df7.groupby(['DistrictNameTr','PlaceName'])['list_27_09_21 sum','list_10_10_21 sum','list_17_10_21 sum',
                                'list_24_10_21 sum','list_30_10_21 sum','list_07_11_21 sum',
                                'list_14_11_21 sum','list_21_11_21 sum','list_28_11_21 sum'].agg(['sum']).reset_index().head(99)

C:\Users\BERRIN~1.GOC\AppData\Local\Temp/ipykernel_5132/685552940.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df7.groupby(['DistrictNameTr','PlaceName'])['list_27_09_21 sum','list_10_10_21 sum','list_17_10_21 sum',

,DistrictNameTr,PlaceName,list_27_09_21 sum,list_10_10_21 sum,list_17_10_21 sum,list_24_10_21 sum,list_30_10_21 sum,list_07_11_21 sum,list_14_11_21 sum,list_21_11_21 sum,list_28_11_21 sum
,,,sum,sum,sum,sum,sum,sum,sum,sum,sum
0,19 MAYIS,Bahçelievler,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.223463,0.350157,0.350157
1,19 MAYIS,Ballıca,0.127585,0.127585,0.127585,0.179583,0.547653,2.105280,4.257785,4.437336,4.437336
2,19 MAYIS,Cumhuriyet,0.044335,0.044335,0.044335,0.044335,0.058801,0.240100,0.490954,0.521757,0.521757
3,19 MAYIS,Engiz,0.022584,0.082881,0.400597,1.340009,2.660447,3.886893,9.865646,10.569356,10.569356
4,19 MAYIS,Esentepe,0.082359,0.082359,0.082359,0.082359,0.378536,0.606366,1.081244,1.178546,1.178546
...,...,...,...,...,...,...,...,...,...,...,...
94,ADAPAZARI,Ekizcemüslüm,4.013273,12.144065,12.373067,57.090826,165.493979,186.631624,216.990408,218.196927,218.978145
95,ADAPAZARI,Elmalı,0.490984,1.229845,1.455917,2.256608,2.301833,2.383312,2.420647,2.428120,2.428120
96,ADAPAZARI,Erenler,0.277621,0.393296,0.393296,0.393296,0.393296,0.393296,0.393296,0.393296,0.393296
97,ADAPAZARI,Göktepe,1.830294,5.632360,6.486192,9.320268,31.335080,33.746664,37.885545,38.150620,38.517750
98,ADAPAZARI,Güneşler,0.558888,17.596034,17.641507,69.164688,72.701127,73.405857,74.585612,74.631088,74.750613

In [238]:
df7.groupby(['DistrictNameTr','PlaceName', dropna == False])['list_27_09_21 sum','list_10_10_21 sum','list_17_10_21 sum',
                                'list_24_10_21 sum','list_30_10_21 sum','list_07_11_21 sum',
                                'list_14_11_21 sum','list_21_11_21 sum','list_28_11_21 sum'].agg(['sum']).reset_index().isnull().sum()

NameError: name 'dropna' is not defined

In [210]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   (DistrictNameTr, )        8 non-null      object
 1   (PlaceName, )             8 non-null      object
 2   (list_27_09_21 sum, sum)  8 non-null      float64
 3   (list_10_10_21 sum, sum)  8 non-null      float64
 4   (list_17_10_21 sum, sum)  8 non-null      float64
 5   (list_24_10_21 sum, sum)  8 non-null      float64
 6   (list_30_10_21 sum, sum)  8 non-null      float64
 7   (list_07_11_21 sum, sum)  8 non-null      float64
 8   (list_14_11_21 sum, sum)  8 non-null      float64
 9   (list_21_11_21 sum, sum)  8 non-null      float64
 10  (list_28_11_21 sum, sum)  8 non-null      float64
dtypes: float64(9), object(2)
memory usage: 832.0+ bytes

In [193]:
df6.groupby(['DistrictNameTr','CityId'])['list_27_09_21 sum','list_10_10_21 sum','list_17_10_21 sum',
                                'list_24_10_21 sum','list_30_10_21 sum','list_07_11_21 sum',
                                'list_14_11_21 sum','list_21_11_21 sum','list_28_11_21 sum']

C:\Users\BERRIN~1.GOC\AppData\Local\Temp/ipykernel_5132/3435303210.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df6.groupby(['DistrictNameTr','CityId'])['list_27_09_21 sum','list_10_10_21 sum','list_17_10_21 sum',

In [ ]:
df6['CityNameTr'=='ADANA'].value_counts()

In [ ]:
df3['CityNameTr'].unique()

In [ ]:
df3['DistrictNameTr'].value_counts()

In [ ]:
x = df3.groupby("CityNameTr")["DistrictNameTr"].count()
x

In [ ]:
df.groupby(["state", "gender"])["last_name"].count()

In [ ]:
cars.rename(
    inplace=True,
    columns={
        "curb-weight": "curb_weight",
        'engine-size': 'engine_size',
        'wheel-base': 'wheel_base'
    })